chromedriver-py>=116.0.5845.96
python-dotenv==1.0.0
PyYAML==6.0.1
robotframework==6.1
robotframework-faker==5.0.0
robotframework-pythonlibcore==4.2.0
robotframework-requests==0.9.5
robotframework-seleniumlibrary==6.1.0
selenium==4.9.1
